{% extends "layout.html" %}
{% block container %}
<div class="row">
    <div class="col-6">
    <h1>Calcular Operaciones</h1>
    <form action ="/operasBas" method="post">
    <label>Numero1:</label>
    <input type="number" name="numero1" placeholder="Numero1"><br>
    <label>Numero2:</label>
    <input type="number" name="numero2" placeholder="Numero2"><br>
    <input type="submit" value="Calcular" class = "btn btn-primary"><br>
    <label>Opcion:</label><br>
    <input type="radio" name="opcion" value="suma">Suma
    <input type="radio" name="opcion" value="resta">Resta
    <input type="radio" name="opcion" value="multiplicacion">Multiplicacion
    <input type="radio" name="opcion" value="division">Division
    </form>
</div>
    <div class="col-6">
        <h2>Resultado</h2>
        <p>{{resultado}}</p>
    </div>
</div>
{% endblock %}
